# --- Project Specific Ignores ---
# Large Datasets
unifesp_xray_dataset/
mura_dataset/
nih_chest_dataset/

# Virtual Environments
radai_venv/
radai_env/
.venv/
venv/

# Trained Model Weights (Large binary files)
# You usually want to ignore these, or use Git LFS if you really need to track them
*.pth
*.pt

# --- Standard Python Ignores ---
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# OS Specific
.DS_Store
Thumbs.db